
.reviews-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .reviews-section h2 {
    font-family: 'Kaisei Decol', serif;
    font-size: 2.3rem;
    color: #2b2927;
    margin-bottom: 10px;
  }
  
  .elfsight-app {
    max-width: 100%;
    margin: 0 auto;
  }
  